@charset "UTF-8";
/* CSS Document

html,
body {
  margin: 0;
}

* {
  font-family: "SegoeUI", "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

a {
  color: #006DD1;
} */

.amcharts-description-div {
  background: #e6e6e6;
  padding: 50px 24px 24px;
  position: relative;
}

.amcharts-description-div:after {
  content: "";
  pointer-events: none;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 15px;
  right: 15px;
  display: block;
  background-color: #e6e6e6;
  background-image: url(data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20style%3D%22enable-background%3Anew%200%200%2064%2064%3B%22%20version%3D%221.1%22%20viewBox%3D%220%200%2064%2064%22%20xml%3Aspace%3D%22preserve%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cg%20id%3D%22Icon-Close%22%20transform%3D%22translate%28381.000000%2C%20231.000000%29%22%3E%3Cpolyline%20class%3D%22st0%22%20id%3D%22Fill-16%22%20fill%3D%22%23737373%22%20points%3D%22-370.7%2C-174.7%20-373%2C-177%20-327%2C-223%20-324.7%2C-220.7%20-370.7%2C-174.7%22/%3E%3Cpolyline%20fill%3D%22%23737373%22%20class%3D%22st0%22%20id%3D%22Fill-17%22%20points%3D%22-327%2C-174.7%20-373%2C-220.7%20-370.7%2C-223%20-324.7%2C-177%20-327%2C-174.7%22/%3E%3C/g%3E%3C/svg%3E);
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: center;
}

.description-image {
  width: 398px;
  height: 100px;
  top: -50px;
  left: 0px;
  position: absolute;
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
}

.amcharts-description-title-div {
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 0.025em;
  padding: 2px 0 5px;
}

.amcharts-description-text-div {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  padding: 8px 0 4px;
}


.amcharts-description-text-div a {
  display: inline-block;
  padding: 10px 22px 10px 24px;
  font-size: 13px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  background: #0067b8;
  margin: 11px 0 0 0;
}

.amcharts-description-close-img {
  margin: -35px -10px 0 0;
}

.amcharts-export-menu,
.amcharts-chart-div > a[title="Interactive JavaScript maps"] {
  display: none !important;
}

.amcharts-description-close-img {
  position: relative;
}

.amcharts-description-close-img:after {
     content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  background: blue;
  z-index: 9;
  display: block;
  
}